<div class="menu-container">
    <img src="../images/home/Menu.png" alt="Menu Button" class="menu-icon" id="menu-button">
    <div id="dropdown-menu" class="dropdown-menu">
        <a href="../views/home.html" class="dropdown-item">Página Principal</a>
        <a href="../views/home.html" class="dropdown-item">¿Quiénes Somos?</a>

        <!-- Elemento "Recursos" con submenú -->
        <div class="dropdown-item resources-item" id="resources-item">
            Recursos
            <div id="resources-submenu" class="dropdown-submenu">
                <a href="/views/png.html" class="dropdown-submenu-item">PNG</a>
                <a href="#" class="dropdown-submenu-item">JPG</a>
                <a href="#" class="dropdown-submenu-item">GIF</a>
            </div>
        </div>

        <a href="#" class="dropdown-item">Collage</a>
        <a href="#" class="dropdown-item">Sube Tu Collage Aquí</a>
    </div>
</div>


















